rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
   match /users/{userId}{
   allow read: if (request.auth != null 
   && (request.auth.token.email_verified == true 
   || request.auth.uid == userId))
   allow write, create, update: if request.auth.uid == userId;
   }   
      match /users/{userId}/sensetive/nowrite {
   allow read: if (request.auth != null 
   && (request.auth.token.email_verified == true 
   || request.auth.uid == userId))
   allow write, create, update: if isTeacher();
   }   
   match /users/{userId}/FCMTokens/{document=**}{
   allow read: if (request.auth != null 
   && (request.auth.token.email_verified == true 
   || request.auth.uid == userId))
   allow write, create, update: if (request.auth != null && request.auth.uid == userId);
   }
      match /codes/joinCodes/students/{studentCode=**}{
   allow read: if (request.auth != null 
   && (request.auth.token.email_verified == true 
   ))
   allow write, create, update: if isTeacher();

   }      
   match /classes/{classId}{

   allow read: if (isStudentOfClass(classId))

   }   match /classes/{classId}/classes/{classes}{

   allow read: if (isStudentOfClass(classId))
   allow create, update: if (isTeacher())

   }

   function isStudentOfClass(classId){
return request.auth.uid in get(
        /databases/$(database)/documents/classes/$(classId)).data.students
   }
      function isTeacher(){
        return get(
        /databases/$(database)/documents/users/$(request.auth.uid)/sensetive/nowrite).data.role == "teacher"
  }
}}